div.code {
  display: inline-block;
  border: 2px solid black;
  padding: 2px;
}
pre {
  margin: 0;
}

pre.highlight {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div.array {
  display: flex;
}

span.index {
  font-size: 0.6em;
  padding: 0 2px 0 2px;
  vertical-align: top;
}

div.values div.value {
  border: 1px solid black;
  padding: 2px;
  display: block;
}

div.name {
  display: inline-block;
}

div.value {
  display: inline-block;
}

div.changed {
  background-color: yellow;
}
